:root {
  --white: #FFFFFF;
  --black: #1E2022;
  --main-background: #4C5B61;
  --font-light: #838F9C;
  --dark-blue-background: #253459;
  --light-background: #FAFBFF;
  --success: #5BC7A8;
  --danger: 

  
  --size-5: 0.3125rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --size-300: 18.75rem;
  --size-400: 25rem;
  --size-500: 31.25rem;
}

html { 
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 50%;
}

a {
  text-decoration: none;
}

body {
  background-color: #4C5B61;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;

}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

lord-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  transition: ease-in-out 1s;
  -webkit-transition: ease-in-out 1s;
  -moz-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
}

lord-icon:hover {
  transform: scale(1.2);
}

.final-a {
  font-size: var(--size-10);
  color: #404758;
}
