/* NAVBABR */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
  background-color: #303030;
}

.navbar h4 {
  transition: ease-in-out 1s;
}

.navbar h4:hover {
  color: #a95834;
}

.navbar ul li a {
  transition: ease-in-out 0.5s;
}

.navbar ul li a:hover {
  color: #a95834;
}

.navbar.sticky {
  background: #303030;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 30px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: #666;
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  font-size: var(--size-20);
  font-weight: 700;
  width: 50%;
  transition: ease-in-out 0.3s;
  color: var(--light-background);
  display: flex;
  align-items: center;
}

.navbar-brand h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link a {
  color: #666;
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 40px;
  line-height: 20px;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-40);
}

header h1 {
  font-size: var(--size-50);
}

.main-header {
  margin: auto;
  margin-top: var(--size-100);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .header-words {
  width: 50%;
  margin-left: 10%;
}

.tech-1,
.tech-2,
.tech-3,
.tech-4,
.tech-5,
.tech-6,
.tech-7,
.tech-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;
  margin-bottom: var(--size-50);
  transition: ease-in-out 0.5s;
}

.tech-1:hover,
.tech-2:hover,
.tech-3:hover,
.tech-4:hover,
.tech-5:hover,
.tech-6:hover,
.tech-7:hover,
.tech-8:hover {
  transform: scale(1.2);
}

.main-header h1 {
  color: var(--light-background);
  font-size: var(--size-100);
  margin-bottom: var(--size-100);
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotateInnerImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.main-header h2 {
  color: var(--font-light);
  font-style: italic;
}

.main-header p {
  color: var(--white);
}

/* Aside sticky socials */
.hiding-sticky-section {
  position: fixed;
  bottom: 2%;
  left: 2%;
  background-color: #a95834;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: ease-in-out 0.5s;
}

.hiding-sticky-section img {
  width: 65%;
}

.hiding-sticky-section:hover {
  background-color: white;
  color: #303030;
  cursor: pointer;
}

.left-sticky {
  display: none;
  z-index: 100;
  position: sticky;
  bottom: 30vh;
  top: var(--size-300);
  left: 2%;
  width: 3%;
  height: 200%;
}

.sticky-socials {
  position: sticky;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sticky-socials a img {
  width: var(--size-50);
  margin-bottom: 5vh;
  transition: ease-in-out 0.5s;
}

.sticky-socials a img:hover {
  transform: scale(1.1);
}

.social-three {
  display: none;
}

.email-info {
  transform: rotate(270deg);
  color: #a95834;
  font-size: var(--size-20);
  margin-bottom: var(--size-150);
}

.email-info a {
  color: #a95834;
  font-weight: 600;
  text-decoration: underline;
  transition: ease-in-out 1s;
}

.email-info a:hover {
  color: var(--white);
}

.down-arrow {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
}

.down-arrow a {
  display: flex;
  justify-content: center;
}

.down-arrow img {
  width: 6%;
  transition: ease-in-out 1s;
}

.down-arrow img:hover {
  filter: invert(100%);
  cursor: pointer;
}

/* Home section */
.home-section {
  display: flex;
  margin-bottom: var(--size-300);
  margin-top: var(--size-500);
}

.moving-icons-home {
  width: 100%;
  margin: auto;
  margin-right: var(--size-200);
  margin-left: var(--size-200);
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.icon-and-info-wrapper {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--size-20);
  color: #b4b4b4;
}

/* About me section */

.about-me {
  margin: auto;
  margin-top: var(--size-400);
  width: 100%;
  margin-bottom: var(--size-200);
  display: flex;
  justify-content: center;
}

.about-me-img-info {
  width: 80%;
  margin: auto;
  padding: var(--size-50);
  border-radius: var(--size-10);
  background-attachment: fixed;
  color: var(--font-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me-img-info img {
  width: var(--size-200);
  border-radius: var(--size-16);

  box-shadow: 0px 10px 20px rgb(0 0 0 / 74%);
}

.about-me-paragraph {
  width: 70%;
}

/* my work */
.my-work {
  text-align: center;
  color: white;
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.my-work h2 {
  font-size: 30px;
  color: #a95834;
  margin-bottom: 0px;
}

.my-work p {
  font-size: small;
}

.work-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.work-done {
  width: 40%;
  height: 50vh;
  border-radius: 10px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: #303030;
  color: white;
  box-shadow: 0px 10px 30px black;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.website-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ubb-website .ubb-information,
.tsqd-website .tsqd-information {
  display: flex;
  justify-content: space-between;
}

.ubb-website .ubb-information .ubb-logo,
.tsqd-website .tsqd-information .tsqd-logo {
  font-size: 30px;
}

.work-done {
  margin-top: var(--size-50);
  margin-bottom: var(--size-50);
}

.work-done:hover {
  transition: ease-in-out 0.5s;
  background-color: var(--main-background);
}

/* MY projects */

.big-p {
  font-size: 11px;
  width: 70%;
  text-align: left;
}

.big-p strong {
  color: #a95834;
}

.my-projects {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: var(--size-200);
}

.projects-wrapper {
  margin-top: var(--size-200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.website-btn {
  margin: auto;
  width: 12vw;
  height: var(--size-30);
  margin: var(--size-30);
  background-color: #a95834;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--size-10);
  transition: ease-in-out 0.5s;
}

.website-btn:hover {
  transform: scale(1.2);
}

.tsqd-website {
  /* margin-top: var(--size-100);
  margin-bottom: var(--size-100); */
}

.tsqd-website p,
.ubb-website p {
  font-size: 11px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-top {
  width: 100%;
  height: var(--size-50);
  background-color: #a95834;
  color: white;
  border-radius: var(--size-10);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  width: 30%;
  transition: ease-in-out 0.7s;
}

footer a:hover {
  width: 60%;
}

footer h3,
.final p {
  color: var(--font-light);
}
