/* NAVBABR */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
  padding: 16px;
  background-color: rgb(42 56 62);
}

.navbar h4 {
  transition: ease-in-out 1s;
}

.navbar h4:hover {
  color: #a95834;
}

.navbar.sticky {
  background: rgb(42 56 62);
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 30px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: #666;
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  font-size: var(--size-40);
  font-weight: 700;
  width: 50%;
  transition: ease-in-out 0.3s;
  color: var(--font-light);
  display: flex;
  align-items: center;
}

.navbar-brand h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link a {
  color: #666;
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 40px;
  line-height: 20px;
}

/* HEADER */
header {
  margin-top: var(--size-200);
  margin-bottom: var(--size-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-40);
}

header h1 {
  font-size: var(--size-50);
}

.main-header {
  position: absolute;
  top: 40%;
  left: 25vw;
  width: 50%;
  background-color: var(--font-light);
  border-radius: var(--size-10);
  padding: var(--size-40);
  box-shadow: 0px 20px 20px rgb(0 0 0 / 74%);
  background-image: url("../Assets/coding\ background.jpg");
  background-attachment: fixed;
}

.main-header h1 {
  color: #a95834;
}

.header-bubbles {
  display: flex;
  align-items: center;
}

.header-bubbles lord-icon:hover {
  transform: scale(1);
}

.main-header h2 {
  color: var(--font-light);
  font-style: italic;
}

.main-header p {
  color: var(--white);
}

/* Aside sticky socials */
.left-sticky {
  z-index: 100;
  position: sticky;
  bottom: 30vh;
  top: var(--size-300);
  left: 0;
  margin-left: var(--size-20);
  width: 3%;
  height: 200%;
}

.sticky-socials {
  position: sticky;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sticky-socials a img {
  width: var(--size-50);
  margin-bottom: 5vh;
  transition: ease-in-out 0.5s;
}

.sticky-socials a img:hover {
  transform: scale(1.1);
}

.email-info {
  transform: rotate(270deg);
  color: #a95834;
  font-size: var(--size-20);
  margin-bottom: var(--size-150);
}

.email-info a {
  color: #a95834;
  font-weight: 600;
  text-decoration: underline;
  transition: ease-in-out 1s;
}

.email-info a:hover {
  color: var(--white);
}

/* Main first image */
.big-main-img {
  position: absolute;
  top: var(--size-100);
  left: 0;
  height: 500px;
  width: 100%;
  background-image: url("../Assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 50%;
}

/* Home section */
.home-section {
  display: flex;
  margin-bottom: var(--size-300);
}

.moving-icons-home {
  width: 100%;
  margin: auto;
  margin-right: var(--size-200);
  margin-left: var(--size-200);
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.icon-and-info-wrapper {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--size-20);
  color: #b4b4b4;
}

/* About me section */

.about-me {
  margin: auto;
  margin-top: var(--size-100);
  width: 80%;
  margin-bottom: var(--size-200);
}

.about-me-img-info {
  width: 60%;
  margin: auto;
  padding: var(--size-50);
  background-color: var(--light-background);
  background-image: url("../Assets/coding\ background.jpg");
  border-radius: var(--size-10);
  box-shadow: 0px 20px 20px rgb(0 0 0 / 74%);
  background-attachment: fixed;
  color: var(--font-light);
}

.about-me-img-info img {
  width: 30%;
  border-radius: var(--size-16);

  box-shadow: 0px 10px 20px rgb(0 0 0 / 74%);
}

.pic-and-bullet {
  display: flex;
  align-items: center;
}

ol {
  margin-left: 20%;
  font-size: var(--size-40);
}

.technologies {
  width: 80%;
  margin: auto;
  margin-top: var(--size-150);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.technologies img {
  width: 50%;
}

.technologies h2 {
  text-align: center;
  margin: auto;
  margin-bottom: var(--size-50);
}

.tech-1,
.tech-2,
.tech-3,
.tech-4,
.tech-5,
.tech-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: var(--size-300);
  background-color: rgba(169, 88, 52, 0.9);
  background-image: url("../Assets/coding\ background.jpg");
  border-radius: var(--size-10);
  margin-bottom: var(--size-50);
  box-shadow: 0px 20px 20px rgb(0 0 0 / 74%);
  transition: ease-in-out 0.5s;
}

.tech-1:hover,
.tech-2:hover,
.tech-3:hover,
.tech-4:hover,
.tech-5:hover,
.tech-6:hover {
  transform: scale(1.2);
}

/* my writing */
.my-writing {
  width: 80%;
  margin: auto;
  text-align: center;
}

.writing-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--size-100);
}

.writing-wrapper h2 {
  color: var(--font-light);
  padding: var(--size-16);
}

.my-medium,
.my-linkedin {
  width: 50%;
  height: var(--size-300);
  margin-left: var(--size-50);
  margin-right: var(--size-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../Assets/coding\ background.jpg");
  border-radius: var(--size-10);
  box-shadow: 0px 20px 20px rgb(0 0 0 / 74%);
}

.medium-btn,
.linkedin-btn {
  width: 50%;
  height: var(--size-50);
  background-color: #a95834;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--size-20);
  border-radius: var(--size-10);
  transition: ease-in-out 0.5s;
}

.medium-btn:hover,
.linkedin-btn:hover {
  transform: scale(1.1);
}

.medium-btn a,
.linkedin-btn a {
  color: var(--white);
}

/* MY projects */

iframe {
  width: 100%;
  height: 700px;
  border-radius: var(--size-10);
}

.big-p {
  width: 70%;
  margin: auto;
  text-align: center;
}

.my-projects {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: var(--size-200);
}

.projects-wrapper {
  margin-top: var(--size-200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.website-btn {
  margin: auto;
  width: 90%;
  height: var(--size-30);
  margin: var(--size-30);
  background-color: #a95834;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--size-10);
  transition: ease-in-out 0.5s;
}

.website-btn:hover {
  transform: scale(1.2);
}

.tsqd-website {
  margin-top: var(--size-100);
  margin-bottom: var(--size-100);
}

.tsqd-website,
.ubb-website {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-top {
  width: 100%;
  height: var(--size-50);
  background-color: #a95834;
  color: white;
  border-radius: var(--size-10);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  width: 30%;
  transition: ease-in-out 0.7s;
}

footer a:hover {
  width: 60%;
}

footer h3,
.final p {
  color: var(--font-light);
}
